<nav id="breadcrumbs" class="col-md-12 no-padding">
  <ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
    <li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <span itemprop="item">
        <a itemprop="url" href="<%= root_path %>"><span itemprop="name">Home</span></a>
        &nbsp;
      </span>
    </li>
    <li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <span itemprop="item">
        <a itemprop="url" href="<%= subscriptions_path %>">
          <span itemprop="name">Subscriptions</span>
        </a>
        &nbsp;
      </span>
    </li>
    <li class="active" itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <span itemprop="item">
        <a itemprop="url" href="<%= subscription_seat_path(@seat.account_subscription, @seat) %>">
          <span itemprop="name">Manage Seat</span>
        </a>
        &nbsp;
      </span>
    </li>
  </ol>
</nav>

<h2>Subscription Seat</h2>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <p>Below are the details of this subscription seat.</p>

      <% if @seat.user == @seat.account_subscription.user %>
        <p>In order to renew this seat or extend the license period, you can manage your subscription purchase here: </p>
        <p><%= link_to 'Manage subscription', subscription_path(@seat.account_subscription), class: 'button button-primary' %></p>
      <% else %>
        <p>In order to renew this seat or extend the license period, you have two options: </p>
        <ul>
          <li>You may contact <a href="mailto:<%= @seat.account_subscription.user.email%>">the purchaser of your subscription</a> to have them renew the subscription.</li>
          <li>You may also 'spin off' this seat into your own subscription, and renew it below. This will add one year on to your existing subscription.</li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-2">
    <h5>Product</h5>
    <%= link_to @seat.account_subscription.product, product_path(@seat.account_subscription.product) %>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>User</h5>
    <%= link_to @seat.user.email, "mailto:#{@seat.user.email}", style: 'work-break: break-all' %>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>Purchaser</h5>
    <%= link_to @seat.account_subscription.user.email, "mailto:#{@seat.account_subscription.user.email}", style: 'work-break: break-all' %>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>Token</h5>
    <span style="word-break: break-all;font-family: monospace;"><%= @seat.account_subscription.token %></span>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>Status</h5>
    <%= @seat.account_subscription.state %>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>Expires</h5>
    <%= @seat.account_subscription.end_datetime.strftime(" %m/%d/%Y")%>
  </div>
</div>

<% if @seat.user != @seat.account_subscription.user %>
  <div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
      <div class="well">
        <%= form_for :order, url: populate_orders_path do |f| %>
          <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
            <div style="display: none;">
              <%= radio_button_tag 'variant_id', @product.renewal_variant.id, true,
                                  'data-price' => @product.renewal_variant.price_in(current_currency).money,
                                  'data-in-stock' => @product.renewal_variant.can_supply?,
                                  'checked' => 'checked'
              %>
            </div>

            <%= hidden_field_tag :quantity, 1 %>
            <%= hidden_field_tag "options[renewing_subscription_id]", @seat.account_subscription.id %>
            <%= hidden_field_tag "options[renewing_seat_id]", @seat.id %>
            <%= hidden_field_tag "options[is_spinoff]", true %>

            <div class="col-sm-8">
              <h6>Renew this subscription seat</h6>
              <p>By spinning off your subscription seat into your own subscription, your old subscription token will remain active until expiration.  You will also be granted a new token for your 'spun off' seat.</p>
            </div>

            <div class="col-sm-2">
              <div data-hook="product_price">
                <div id="product-price">
                  <h6 class="product-section-title">Price</h6>
                  <div>
                    <span class="lead price selling" itemprop="price">
                      <%= display_price(@product.renewal_variant) %>
                    </span>
                    <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-2">
              <%= button_tag class: 'btn button-accent', id: 'add-to-cart-button', style: 'margin-top:30px;float:right;', type: :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
