<nav id="breadcrumbs" class="col-md-12 no-padding">
  <ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
    <li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/"><span itemprop="name">Home</span></a>&nbsp;</span></li>
    <li class="active" itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement"><span itemprop="item"><a itemprop="url" href="/subscriptions"><span itemprop="name">Subscriptions</span></a>&nbsp;</span></li>
  </ol>
</nav>


<h2>My Current Subscriptions</h2>

<% if @all_subscriptions.length > 0 %>


  <div class="row">

    <div class="col-xs-12 col-md-3"><h5>Product</h5></div>
    <div class="col-xs-12 col-md-2"><h5>Seats</h5></div>
    <div class="col-xs-12 col-md-2"><h5>Status</h5></div>
    <div class="col-xs-12 col-md-2"><h5>Expires</h5></div>
    <div class="col-xs-12 col-md-3"><h5>Actions</h5></div>


  </div>

  <% @all_subscriptions.each do |sub| %>

  <div class="row">

    <div class="col-xs-12 col-md-3">
      <a href="/subscriptions/<%=sub.id%>"><%= sub.product.name %></a>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= sub.num_seats %>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= sub.state %>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= sub.end_datetime.strftime(" %m/%d/%Y") %>
    </div>
    <div class="col-xs-12 col-md-3">
      <a class="button button-sm" href="/subscriptions/<%=sub.id%>">Manage</a>
    </div>

  </div>

  <%end%>

<% else %>
  <p>You do not currently have any subscriptions to manage</p>
<% end %>