<nav id="breadcrumbs" class="col-md-12 no-padding">
  <ol class="breadcrumb" itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList">
    <li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <span itemprop="item">
        <a itemprop="url" href="<%= root_path %>"><span itemprop="name">Home</span></a>
        &nbsp;
      </span>
    </li>
    <li itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <span itemprop="item">
        <a itemprop="url" href="<%= subscriptions_path %>"><span itemprop="name">Subscriptions</span></a>
        &nbsp;
      </span>
    </li>
    <li class="active" itemscope="itemscope" itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <span itemprop="item">
        <a itemprop="url" href="<%= subscription_path(@subscription) %>"><span itemprop="name">Manage</span></a>
        &nbsp;
      </span>
    </li>
  </ol>
</nav>

<h2>Your Subscription Details</h2>

<div class="row">
  <div class="col-xs-12 col-md-3">
    <h5>Product</h5>
    <p><%= link_to @subscription.product.name, product_path(@subscription.product) %></p>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>Seats</h5>
    <p><%= @subscription.num_seats %></p>
  </div>

  <div class="col-xs-12 col-md-2">
    <h5>Status</h5>
    <p><%= @subscription.state %></p>
  </div>
  <div class="col-xs-12 col-md-2">
    <h5>Expires</h5>
    <p><%= @subscription.end_datetime.strftime(" %m/%d/%Y") %></p>
  </div>

  <div class="col-xs-12 col-md-3">
    <h5>Token</h5>
    <p style="font-family: monospace;"><%= @subscription.token %></p>
  </div>
</div>

<hr/>

<% if @product.renewable? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <%= render partial: 'cart_form' %>
      </div>
    </div>
  </div>

  <hr/>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    var renewalPrice = 0;

    var newPrice = <%= @product.price_in(current_currency).amount %>;
    var currentSeats = <%= @subscription.num_seats %>;

    var priceField = $('#subscription_price_change_seats');

    $('#substription_new_num_seats').bind('keyup mouseup', function() {
      var totalSeats = $(this).val();

      var total = renewalPrice;
      for (var i=1; i < totalSeats; i++) {
        if (i < currentSeats) {
          total += renewalPrice;
        } else {
          total += newPrice;
        }
      }
      $(priceField).text('$'+ total.toFixed(2));
    });
  });
</script>
