<h2>Subscription Details</h2>


<div class="row">

  <div class="col-xs-12 col-md-3"><h5>Product</h5></div>
  <div class="col-xs-12 col-md-3"><h5>Purchaser</h5></div>
  <div class="col-xs-12 col-md-3"><h5>Status</h5></div>
  <div class="col-xs-12 col-md-3"><h5>Expires</h5></div>
  
</div>


<div class="row">

  <div class="col-xs-12 col-md-3">
    <%= @subscription.product.name %>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= @subscription.user.email %>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= @subscription.state %>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= @subscription.end_datetime.strftime(" %m/%d/%Y") %>
  </div>

</div>


<h3>Seat Details</h3>

<div class="row">

  <div class="col-xs-12 col-md-3"><h5>User</h5></div>
  <div class="col-xs-12 col-md-3"><h5></h5></div>
  <div class="col-xs-12 col-md-3"><h5></h5></div>
  <div class="col-xs-12 col-md-3"><h5></h5></div>
</div>

<% @subscription.subscription_seats.each do |seat| %>
  <div class="row">

    <% if seat.user %>
      <div class="col-xs-12 col-md-3"><%= seat.user.email %></div>
      <div class="col-xs-12 col-md-3"></div>
      <div class="col-xs-12 col-md-3"></div>
      <div class="col-xs-12 col-md-3"></div>
    <% else %>
        <div class="col-xs-12 col-md-3">Seat not in use</div>
    <% end %>
  </div>

<% end %>